/*
*.swp

!.gitignore
!README.md

!/private
/private/*

!/private/etc
/private/etc/*
!/private/etc/vimrc
!/private/etc/zshrc

!/Users
/Users/*
!/Users/gay
/Users/gay/*
!/Users/gay/.vimrc
!/Users/gay/.zshrc

!/usr
/usr/*
!/usr/local
/usr/local/*
!/usr/local/git
/usr/local/git/*
!/usr/local/git/etc
/usr/local/git/etc/*
!/usr/local/git/etc/gitconfig

!/private/var
/private/var/*
!/private/var/root
/private/var/root/*
!/private/var/root/.vimrc
