*

!.gitignore
!README.md

!/private
/private/*

!/private/etc
/private/etc/*
!/private/etc/vimrc
!/private/etc/zshrc

!/Users
/Users/*
!/Users/gay
/Users/gay/*
!/Users/gay/.config
!/Users/gay/.config/mpv
!/Users/gay/.config/mpv/input.conf
!/Users/gay/.vimrc
!/Users/gay/.vim
!/Users/gay/.vim/coc-settings.json
!/Users/gay/.zshrc
!/Users/gay/.ssh
/Users/gay/.ssh/*
!/Users/gay/.ssh/config
!/Users/gay/.mpd
/Users/gay/.mpd/*
!/Users/gay/.mpd/mpd.conf
!/Users/gay/.mpdscribble
/Users/gay/.mpdscribble/*
!/Users/gay/.mpdscribble/mpdscribble.conf
!/Users/gay/.ncmpcpp
/Users/gay/.ncmpcpp/*
!/Users/gay/.ncmpcpp/bindings
!/Users/gay/.ncmpcpp/config

!/usr
/usr/*
!/usr/local
/usr/local/*
!/usr/local/git
/usr/local/git/*
!/usr/local/git/etc
/usr/local/git/etc/*
!/usr/local/git/etc/gitconfig

!/private/var
/private/var/*
!/private/var/root
/private/var/root/*
!/private/var/root/.vimrc
