KERNEL=="zram0", SUBSYSTEM=="block", DRIVER=="", ACTION=="add", ATTR{disksize}=="0", ATTR{comp_algorithm}="lz4hc", ATTR{mem_limit}="1625M", ATTR{disksize}="4875M", RUN+="/sbin/mkswap $env{DEVNAME}"
