KERNEL=="zram0", SUBSYSTEM=="block", DRIVER=="", ACTION=="add", ATTR{disksize}=="0", ATTR{comp_algorithm}="lz4hc", ATTR{mem_limit}="512M", ATTR{disksize}="1536M", RUN+="/sbin/mkswap $env{DEVNAME}"
